
html {
  /* background-color: hsla(0, 0%, 93%, 1); */
  color: white;
  background: #242424;
}

body {
    /*background-image: linear-gradient(#424242, #212121);*/
    display: grid;
    grid-template-columns: auto 70px;
    grid-template-rows: 80px auto;
    grid-template-areas:
      "header header"
      "main sidebar";
}

* {
  outline: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  margin: 0;
  padding: 0;
  border: 0;
  /* transition: 50ms; */
}

*:hover {
  transition: 50ms;
}

h1 {
  padding: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 8px;
  font-size: 40px;
  font-family: 'Exo 2', sans-serif;
}

h2 {
  padding: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 6px;
  font-size: 30px;
  line-height: 30px;
  height: 30px;
  font-family: 'Exo 2', sans-serif;
}

h3 {
  padding: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 4px;
  font-size: 20px;
  line-height: 20px;
  font-family: 'Exo 2', sans-serif;
}

h4 {
  padding: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 4px;
  margin-left: 0;
  font-size: 32px;
  line-height: 32px;
  font-family: 'Exo 2', sans-serif;
}

h6 {
  padding: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 8px;
  font-size: 60px;
  font-family: 'Exo 2', sans-serif;
}

p {
  padding: 3px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px;
  margin-left: 2px;
  font-size: 24px;
  font-family: 'Average', serif;
}

a {
  color: black;
}

li a {
  text-decoration: none;
  color: black;
  font-size: 22px;
  font-family: 'Average Sans', sans-serif;
  padding: 4px;
  text-align: left;
  display: block;
  width: 250px;
  float: right;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;

}

li {
  width: 120px;

}

.li-navbar {
  display: inline;
}

#category {
  display: none;
  height: 54px;
  width: 120px;
  top: 12px;
  left: 12px;
  vertical-align: middle;
  color: #ffffff;
  background: none;
  backdrop-filter: brightness(0.9);
  border-top: solid transparent 4px;
  border-bottom: solid white 4px;
  border-left: solid transparent 4px;
  border-right: solid transparent 4px;
  border-radius: 4px;
  font-family: 'Exo 2', sans-serif;
  padding: 0 4px;
  text-align: center;
}

#category:hover {
  border: #fff7 solid 4px;
  border-bottom: #fff solid 4px;
  outline: 0;
  cursor: pointer;
}

#category:active {
  border: white solid 4px;
}

#top-buttons {
  display: none;
}

nav {
  margin: 12px;
  width: max-content;
}

#nav-top {
  display: flex;
}

#nav-bot {
  display: none;
}


#logo {
  width: max-content;
}

#header-logo {
  height: 60px;
  display: inline-block;
}

#header-text {
  display: inline-block;
}

@media screen and (min-width: 641px) {
  #header-text {
    display: inline-block;
  }
  #header-logo {
    height: 60px;
    display: inline-block;
  }
}

@media screen and (max-width: 640px) {
  #header-text {
    display: none;
  }
  #header-logo {
    height: 60px;
    display: inline-block;
    margin: 8px;
  }
  p.welcome-message {
    display: none;
  }
}

@media screen and (max-height: 700px) {
  p.welcome-message {
    display: none;
  }
  #welcome {
    grid-template-rows: 110px 50vh 20px 60px 20px 50px auto !important;
  }
}

@media screen and (max-width: 760px) {
  h2.welcome-message {
    font-size: 30px !important;
  }
  p.welcome-message {
    font-size: 22px !important;
  }
}


#photos {
  grid-area: main;
  display: flex;
  /*position: fixed;*/
  height: auto;
  min-height: 0;
  background: #242424;
  border: 6px;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  padding-top: 0;
  margin: 6px;
}


#photos-view {
  flex: 100%;
  max-width: 100%;
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
}

#collections-view {
  flex: 100%;
  max-width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

#viewer {
  display: grid;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 100vh;
  grid-template-columns: 80px 100fr 80px;
  grid-template-rows: 80px auto;
  grid-template-areas: ". . close" "prev image next";
  /* min-height: 600px; */
  background-color: hsla(0, 0%, 0%, 0.97);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-area: header/header/main/sidebar;
  z-index: 11;
}

#background {
  filter: blur(4px);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

#viewer-next {
  display: block;
  grid-area: next;
  height: 100%;
  width: 100%;
  margin: 0;
  margin-left: 0;
  border-radius: 0;
}

#viewer-next > img {
  height: 64px;
}

#viewer-prev {
  display: block;
  grid-area: prev;
  height: 100%;
  width: 100%;
  margin: 0;
  margin-left: 0;
  border-radius: 0;
}

#viewer-prev > img {
  height: 64px;
}

#viewer-close {
  display: block;
  grid-area: close;
  height: 100%;
  width: 100%;
  margin: 0;
  margin-left: 0;
  margin-right: 0;
  border-radius: 0px;
  font-size: 24px;
}

#image-view {
  display: flex;
  grid-area: image;
  height: auto;
  width: auto;
  max-width: calc(100vw - 160px);
  align-items: flex-start;
  justify-content: space-around;
}

#image-viewer-child {
  display: flex;
  max-height: 75vh;
  max-width: calc(100vw - 160px);
  justify-content: center;
  align-self: flex-start;
}

#button-box {
  display: flex;
  position: fixed;
  top: 100px;
}

.photo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 6px;
  width: calc(20% - 12px);
  height: auto;
  aspect-ratio: 1;
  background-color: #111111;
  border-radius: 4px;
  color: black;
  overflow: hidden;
  box-shadow: 0px 0px 2px hsla(0, 0% 50%, 1);
  border: none;
  transition-duration: 200ms;
  cursor: pointer;
}

@media (max-width: 1680px) {
  .photo-box {
    width: calc(25% - 12px);
  }
}

@media (max-width: 1306px) {
  .photo-box {
    width: calc(33.3% - 12px);
  }
}

@media (max-width: 800px) {
  .photo-box {
    width: calc(50% - 12px);
  }

  #hbtn-0 {
    display: none;
  }

  #hbtn-8 {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
}

@media (max-width: 500px) {
  .photo-box {
    width: calc(100% - 12px);
  }
}

.photo-box:focus {
  transition-duration: 200ms;
}

.photo-box:hover {
  filter: brightness(1.1);
  transition-duration: 200ms;
}

.photo {
  display: block;
  flex-shrink: 0;
  max-width: 150%;
  max-height: 150%;
  background-size: cover;
  transition-duration: 200ms;
}

.collection-box {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

hr {
  width: calc(100% - 16px);
  margin: 20px 8px;
  height: 1px;
  background-color: #999999;
}

/* .collection-box > .photo-box {
  width: calc(25% - 12px);
} */

.collection-header {
  margin-left: 20px;
}

.collection-text {
  margin-left: 25px;
}

.top-padding {
  padding: 40px;
}

.nav-left {
  margin-right: 0;
  border-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.nav-center {
  margin-left: 0;
  margin-right: 0;
  border-radius: 0;
}

.nav-right {
  margin-right: 0;
  border-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

#header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  width: 100%;
  height: auto;
  background-image: linear-gradient(to left, #6edb9f 0%, #21cacb 100%);
  /* Nice Colors
  #6edb9f (green)
  #21cacb (dark cyan logo)
  #93d2dc (light cyan logo)
  */
  box-shadow: 0px 0px 4px black;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 11;
}

.header-box {
  height: 83px;
}

.header-title {
  text-align: right;
  margin-top: 0px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 40px;
  color: white;
  text-shadow: 0px 0px 4px #8fffd8;
}

.header-subtitle {
  text-align: right;
  padding-bottom: 4px;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  text-shadow: 0px 0px 4px #8fffd8;
}

.header-button {
  height: 54px;
  width: 100px;
  top: 12px;
  left: 12px;
  vertical-align: middle;
  color: #ffffff;
  backdrop-filter: brightness(0.9);
  border-top: solid transparent 4px;
  border-bottom: solid transparent 4px;
}

@media (max-width: 1306px) {
  #hbtn-1, #hbtn-2, #hbtn-3, #hbtn-4, #hbtn-5, #hbtn-6, #hbtn-7 {
    display: none;
  }
  #category {
    display: inline-block;
  }
}

.nav-home {
  border-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  margin-right: 0;
  width: 120px;
}

.nav-collections {
  border-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-right: 20px;
  width: 120px;
}

#om-meg-picture {
  display: block;
  width: auto;
  height: 100%;
}

button {
  /*font-family: 'Average Sans', sans-serif;*/
  font-family: 'Exo 2', sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 54px;
  border-radius: 6px;
  border-width: 0;
  border-color: #fff;
  /*background-color: #644D99;*/
  /*color: white;*/
  background-color: #0000;
  color: #ffffff;
  outline: 0;
  cursor: pointer;
}

.home-button {
  height: auto;
  width: 100px;
}

.active-header-button {
  border-bottom: #fff solid 4px;
  height: 54px;
}

button:focus {
  /* outline: 0 !important; */
  /* border: white solid 4px; */
}

button:active {
  border-color: #ccc !important;
  outline: 0;
}

button:hover {
  border: #fff7 solid 4px;
  border-bottom: #fff solid 4px;
  outline: 0;
}

.desktop-hidden {
  display: none;
}

.picture-document {
  height: calc(100vh - 85px);
  border: none;
  width: calc(50% - 180px);
}

.product-form {
  display: inline-block;
  z-index: -1;
  width: calc(50% - 180px);
  height: calc(100vh - 85px);
}

.top-margin {
  margin-top: 80px;
}

.faq-doc {
  width: calc(100% - 380px);
  min-width: 360px;
  height: calc(100vh - 100px);
  margin-top: 8px;
  margin-left: 8px;
  border: none;
  border-radius: 4px;
}

#om-meg-doc {
  margin-right: 360px;
}

#om-meg-doc > iframe {
  width: calc(100vw - 380px);
  height: calc(100vh - 155px);
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#kontakt-form-div {
  display: block;
  position: absolute;
  height: calc(100vh - 82px);
  width: 100%;
  z-index: 1;
  background-color: #fff8;
}

#kontakt-form-div > div {
  display: block;
  width: 100%;
  height: 40px;
}

#kontakt-form-div > div > button {
  height: 30px;
  width: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: block;
}

#kontakt-form {
  height: calc(100vh - 150px);
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 360px;
  z-index: 5;
  border: none;
}

.kontakt-button-div {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.kontakt-button-div > button {
  height: 50px;
  width: 280px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  color: black;
  border: black solid 1px;
}

#cookie-warning-box {
  display: block;
  position: fixed;
  right: 10px;
  bottom: 10px;
  height: max-content;
  width: max-content;
  border-radius: 8px;
  background-color: orange;
  box-shadow: 0 0 1px black;
  z-index: 10;
}

#cookie-warning-box > p {
  font-family: 'Exo 2', sans-serif;
  font-size: 20px;
  color: black;
  padding: 10px;
}

#cookie-warning-box > p > button {
  height: 30px;
  width: 60px;
  display: inline-block;
  vertical-align: middle;
  background-color: #fff;
  color: black;
}

#cookie-warning-box > p > button:hover {
  background-color: #eee;
}

#cookie-warning-box > p > button:active {
  background-color: #ddd;
}

/* SIDEBAR */

#sidebar {
  grid-area: sidebar;
  grid-template-columns: auto;
    grid-template-rows: max-content max-content auto;
    grid-template-areas:
      "picture"
      "links"
      "bio";
  display: grid;
  position: fixed;
  right: 0px;
  top: 80px;
  height: 100%;
  /* width: 360px */;
  background-color: #303030;
  /*overflow: auto;*/
  box-shadow: black 2px 0 8px;
  z-index: 10;
}

#sidebar-image {
  grid-area: picture;
  margin: 8px;
  background-color: #242424;
  width: auto;
  height: 300px;
  border-radius: 4px;
  overflow: hidden;
  display: none;
}

#sidebar-links {
  grid-area: links;
}

#sidebar-small-links {
  display: flex;
  justify-content: center;
  flex-flow: column;
}

#sidebar-bio {
  grid-area: bio;

}

.sidebar-small-link {
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 5px;
}
.sidebar-small-link > img {
  height: 60px;
  border: solid transparent 4px;
  border-radius: 50%;
  margin: -4px;
}

.sidebar-small-link:hover > img {
  border: solid white 4px;
}

#sidebar-links > a {
  text-decoration: none;
}

#sidebar-links > a > div {
  width: auto;
  margin-left: 16px;
  margin-right: 16px;
  height: auto;
  min-height: 40px;
  background-color: #242424;
  border-radius: 4px;
  margin-bottom: 8px;
}

#sidebar-links > a > div > div {
  display: inline-block;
  width: 250px;
}

#sidebar-links > a > div > div > h3 {
  font-family: 'Exo 2', sans-serif;
  font-size: 22px;
  color: white;
  line-height: 1.25;
  font-weight: lighter;
}

#sidebar-links > a > div > img {
  width: 56px;
  padding: 4px;
  display: inline-block;
  vertical-align: top;
  border-radius: 8px;
}


/* FB & IG */
#sidebar-links > div > a > div {
  width: 52.5%;
  margin-left: 0;
  margin-right: 0;
  height: auto;
  min-height: 40px;
  background-color: #242424;
  border-radius: 4px;
  margin-bottom: 8px;
}

#sidebar-links > div > a > div > div {
  display: inline-block;
  width: auto;
}

#sidebar-links > div > a > div > div > h3 {
  font-family: 'Exo 2', sans-serif;
  font-size: 20px;
  color: white;
  line-height: 1.25;
  font-weight: lighter;
}

#sidebar-links > div > a > div > img {
  width: 56px;
  padding: 4px;
  display: inline-block;
  vertical-align: top;
  border-radius: 8px;
}

#sidebar-links > div {
  /* height: 72px; */
  /*padding: 0 16px;*/
}

#sidebar-links > div > p {
  font-size: 12px;
  color: black;
  font-family: 'Exo 2', sans-serif;
}

.img-height-30px {
  height: 30px;
}

#sidebar-link-fb {
  background-color: #eee;
  transition: 200ms;
  shape-outside: polygon(0 0, 100% 0, 85% 64px, 0 64px);
  -webkit-shape-outside: polygon(0 0, 100% 0, 85% 64px, 0 64px);
  clip-path: polygon(0 0, 100% 0, 85% 64px, 0 64px);
  -webkit-clip-path: polygon(0 0, 100% 0, 85% 64px, 0 64px);
  shape-margin: 0px;
  float: left;
  margin-right: -25px !important;
}

#sidebar-link-fb:hover {
  background-color: #1877F2;
  transition: 1ms;
}

#sidebar-link-fb:hover > div > h3 {
  color: #fff;
}

#sidebar-link-ig {
  float: right;
  transition: 200ms;
  shape-outside: polygon(15% 0, 100% 0, 100% 64px, 0 64px);
  -webkit-shape-outside: polygon(15% 0, 100% 0, 100% 64px, 0 64px);
  clip-path: polygon(15% 0, 100% 0, 100% 64px, 0 64px);
  -webkit-clip-path: polygon(15% 0, 100% 0, 100% 64px, 0 64px);
  shape-margin: 0px;
  margin-left: -25px !important;
}

#sidebar-link-ig:hover {
  background-color: #fff;
  transition: 1ms;
}

#sidebar-link-ig > img {
  float: right;
  display: block;
}

#sidebar-link-ig > div {
  text-align: right;
  margin-left: auto;
  vertical-align: bottom;
}

#sidebar-link-ig > div > h3 {
  padding-left: 12px;
  padding-top: 30px;
}

#sidebar-link-kjøp {
  background-color: #eee;
  transition: 200ms;
}

#sidebar-link-kjøp:hover {
  background-color: #85DC79;
  transition: 1ms;
}

#sidebar-link-kontakt {
  background-color: #eee;
  transition: 200ms;
}

#sidebar-link-kontakt:hover {
  background-color: #FF432E;
  transition: 1ms;
}

#sidebar-link-faq {
  background-color: #eee;
  transition: 200ms;
}

#sidebar-link-faq:hover {
  background-color: #FEDD55;
  transition: 1ms;
}

#sidebar-link-lang {
  background-color: #eee;
  transition: 200ms;
}

#sidebar-link-lang:hover {
  background-color: #5781EB;
  transition: 1ms;
}

#sidebar-link-copyright {
  background-color: #eee;
  transition: 200ms;
}

#sidebar-link-copyright:hover {
  background-color: #999;
  transition: 1ms;
}


#welcome {
  background-color: hsla(0, 100%, 0%, 0.75);
  /* background-image: url("../images/welcome.jpg"); */
  background-size: cover;
  background-position: center;
  /* filter: opacity(0.96); */
  height: 100vh;
  width: calc(100% - 70px);
  display: grid;
  /* grid-template-rows: auto 480px 120px 180px 50px auto; */
  grid-template-rows: 110px 50vh auto 60px 120px 50px auto;
  /* grid-template-columns: auto 360px 360px auto; */
  grid-template-columns: auto 360px 360px auto;
  grid-template-areas:
    ". . . ."
    "carousel-margin-l carousel carousel carousel-margin-r"
    ". . . ."
    "margin-l header-l header-r margin-r"
    "margin-l text-l text-r margin-r"
    "margin-l btn-l btn-r margin-r"
    ". . . .";
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  transition: .5s cubic-bezier(.6,-0.18,.74,.05);
  backdrop-filter: blur(4px);
  overflow: visible;
}

@media (max-width: 800px) {
  #welcome {
    display: none;
  }
}

.carousel {
  /* background: black; */
  height: 50vh;
  width: auto;
  grid-area: carousel;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  perspective: 1400px;
  transform-style: preserve-3d;
}

.carousel-slide {
  height: 50vh;
  width: 100%;
  position: absolute;
  /* margin: 50%; */
  /* flex-shrink: 0; */
  /* border: 240px solid transparent; */
  border-radius: 4px;
  z-index: 4;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  transition: transform 400ms ease, filter 400ms ease;
}

.carousel-slide--1 {
  /* background: magenta; */
  left: 0;
  top: 0;
  transform: translate3d(75%, 0, -350px);
  filter: brightness(0.6);
}

.carousel-slide-0 {
  /* background: green; */
  left: 0;
  top: 0;
  transform: translate3d(70%, 0, -250px);
  filter: brightness(0.6);
}

.carousel-slide-1 {
  /* background: red; */
  left: 0;
  top: 0;
  transform: translate3d(40%, 0, -100px);
  filter: brightness(0.8);
}

.carousel-slide-2 {
  /* This is the main one */
  /* background: blue; */
  left: 0;
  top: 0;
  transform: translate3d(0, 0, 0);
}

.carousel-slide-3 {
  /* background: yellow; */
  left: 0;
  top: 0;
  transform: translate3d(-40%, 0, -100px);
  filter: brightness(0.8);
}

.carousel-slide-4 {
  /* background: orange; */
  left: 0;
  top: 0;
  transform: translate3d(-70%, 0, -250px);
  filter: brightness(0.6);
}

.carousel-slide-5 {
  /* background: cyan; */
  left: 0;
  top: 0;
  transform: translate3d(-75%, 0, -350px);
  filter: brightness(0.6);
}

.carousel-slide > img {
  max-height: 50vh;
  max-width: 720px;
  transition: transform 400ms ease;
  border-radius: 4px;
}

h2.welcome-message {
  height: auto;
  width: auto;
  grid-area: header-l / header-l / header-r / header-r;
  color: white;
  text-align: center;
  font-size: 44px;
  line-height: 47px;
  text-shadow: 0 1px 1px black;
}

p.welcome-message {
  height: auto;
  width: auto;
  grid-area: text-l / text-l / text-r / text-r;
  color: white;
  text-align: center;
  font-size: 28px;
  text-shadow: 0 1px 1px black;
}

p.welcome-link-info {
  height: auto;
  width: auto;
  position: absolute;
  right: 80px;
  top: 600px;
  /* grid-area: margin-r; */
  color: white;
  text-align: center;
  font-size: 18px;
  text-shadow: 0 1px 1px black;
  line-height: 1.25;
  display: none;
}

img.welcome-link-info {
  display: block;
  position: absolute;
  height: 120px;
  right: -30px;
  top: 570px;
  rotate: 25deg;
  z-index: 20;
  display:none;
}

p.welcome-header-info {
  height: auto;
  width: auto;
  position: absolute;
  left: 20px;
  top: 85px;
  /* grid-area: margin-r; */
  color: white;
  text-align: center;
  font-size: 18px;
  text-shadow: 0 1px 1px black;
  line-height: 1.25;
  display: none;
}

button.welcome-message {
  height: auto;
  width: auto;
  grid-area: btn-l / btn-l / btn-r / btn-r;
  background-color: #4ad3b4;
  box-shadow: 0 1px 1px black;
}

button.welcome-message:hover {
  background-color: #21cacb;
  color: white;
}

.welcome-test-button {
  height: auto;
  width: auto;
  grid-area: btn-r;
  background-color: #4ad3b4;
  box-shadow: 0 1px 1px black;
}

.welcome-test-button:hover {
  background-color: #21cacb;
  color: white;
}

.no-scroll {
  overflow-y: hidden;
}
