html
{
  background-color: #323232;
  color: white;
}

a
{
  color: #E91E63;
}

#c-important
{
  background-image: linear-gradient(#F22, #F00);
  color: white;
  text-shadow: 0px 0px 20px white;
}

.c:active
{
  background-color: #BBBA;
}

.c-text-box
{
  background-color: #DDDD;
}

.c
{
  background-color: #DDD;
  box-shadow: 0px 0px 8px black;
  border-radius: 3px;
  border-color;
  color: black;
}

#header
{
  background-image: linear-gradient(to right, #a27 0%, #289 100%);
  box-shadow: 0px 0px 8px black;
}

.header-title
{
  color: white;
  text-shadow: 0px 0px 4px black;
}

.header-subtitle
{
  color: white;
  text-shadow: 0px 0px 4px black;
}

.header-button-back
{
  background-color: #0FF;
}

.header-button-copyright
{
  background-color: #0FF;
}

button
{
  border-radius: 3px;
  border-color: #178;
  background-image: linear-gradient(#289, #279);
  color: white;
}

button:hover
{
  background: #B22;
  border-color: #A11;
  color: white;
}

button:active
{
  background: #911;
  border-color: #811;
}
