html
{
  background-color: #EEEEEE;
  color: white;
}

a
{
  color: black;
}

#c-important
{
  background-image: linear-gradient(#F22, #F00);
  color: white;
  text-shadow: 0px 0px 20px white;
}

.c:active
{
  background-color: #BBBA;
}

.c-text-box
{
  background-color: #DDDD;
}

.c
{
  background-color: #DDD;
  box-shadow: 0px 0px 8px black;
  border-radius: 3px;
  border-color;
  color: black;
}

#header
{
  background-image: linear-gradient(to right, #fab 0%, #fff 100%);
  box-shadow: 0px 0px 4px black;
}

.header-title
{
  color: #fab;
  text-shadow: 0px 0px 4px white;
}

.header-subtitle
{
  color: #fab;
  text-shadow: 0px 0px 4px white;
}

.header-button
{
  background-color: #0FF;
}

.header-button-copyright
{
  background-color: #0FF;
}

button
{
  border-radius: 4px;
  border-color: #fff;
  background-image: linear-gradient(#e9a, #d89);
  color: white;
}

button:hover
{
  background: #eee;
  border-color: #ddd;
  color: black;
}

button:active
{
  background: #ddd;
  border-color: #ccc;
  color: black;
}
